@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grid-max-width: 92.5rem;
  --grid-gutter: var(
    --space-s-l,
    clamp(1.125rem, 0.7457rem + 1.8966vw, 2.5rem)
  );
  --grid-columns: 12;
}

.u-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.u-grid {
  display: grid;
  gap: var(--grid-gutter);
}
